<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成为校方审核员</title>
</head>
<body>
    <h1>hello</h1>
    <form id="content" method="post" action="{% url 'public:enrollScholarUser' %}">
        <p><label>姓名：<input id='name' name="name" type="text"></label></p>
        <p><label>电话：<input id='tel' name="tel" type="tel"></label></p>
        <input type="hidden" name='unionCode' value='{{ openid }}'>
        <p>选择单位</p>
        <select id='section' name="section">
            <option value="---">---</option>
        </select>
        <p>选择部门</p>
        <select name="clas" id="clas">
            <option value="---">---</option>
        </select>
        <input type="button" oncheck='checkUserInfo();'>提交<input/>
    </form>
    <script type="text/javascript">
        if (window.XMLHttpRequest){
            console.log('xml')
            xmlhttp = new XMLHttpRequest();
        }else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open('GET','http://robbyzhang.cn/public/getDivisions/',false)
        xmlhttp.send()
        var divisions = JSON.parse(xmlhttp.response)['divisions']
        console.log(divisions)
        var section = document.getElementById('section')
        var clas = document.getElementById('clas')
        var submitForm = document.getElementById('content')
        //单位选择集函数
        section.onchange = function(){
            var classes = divisions[section.value]
            console.log(section.value)
            for (var i = clas.length-1 ; i > 0 ; i-- ){
                clas.removeChild(clas.options[i])
            }
            for(var j in classes){
                clas.options.add(new Option(classes[j],classes[j]))
            }
        }
        //初始化选择集
        for (var i in divisions){
            section.options.add(new Option(i,i))
        }
        //提交表单
        function checkUserInfo(){
            var name = document.getElementById('name').value,
                tel = document.getElementById('tel').value,
                section = document.getElementById('section').value,
                clas = document.getElementById('clas').value
            if (name == ''){
                alert('姓名为空')
                return false
            }else if(tel == ''){
                alert('电话为空')
                return false
            }else if(section == '---'){
                alert('单位未选择')
                return false
            }else if(clas == '---'){
                alter('部门未选择')
                return false
            }else{
                document.getElementById('submitInfo').submit()
            }
        }
    </script>
</body>
</html>