<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>审核订单</title>
</head>
<body>
    <div>
        <div><label>订单号：</label><p>{{order.orderID}}</p></div>
        <div><label>报修人：</label><p>{{order.client.name}}</p></div>
        <div><label>订单类型：</label><p>{{order.orderType}}</p></div>
        <div><label>服务类型：</label><p>{{order.serviceType}}</p></div>
        <div><label>报修地址：</label><p>{{order.addr}}</p></div>
        <div><label>物品型号：</label><p>{{order.model}}</p></div>
        <div><label>资产编号：</label></div>
        <div><label>故障描述：</label>{{order.faultDescription}}</div>
    </div>
    <div>
        <div><label>审核员：</label><p>{{scholarUser.name}}</p></div>
    </div>
    <div>
        <form action="{% url 'public:checkOrderByScholar' %}" method="POST">
            <input type="hidden" name="orderID" value="{{order.orderID}}">
            <input type="hidden" name='unionCode' value='{{scholarUser.unionCode}}'>
            <input type="submit" value="通过" onclick="">
        </form>
    </div>
</body>
</html>