{% extends "admin/base.html" %}
{% block title %}
{{ 订单完修 }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}
{% block branding %}
<div>确定完修</div>
{% endblock %}
{% block content %}
<form action="{% url 'snack:affirm' %}" method="POST">
    <input type="hidden" name="order_id" value="{{order_id}}">
    <input type="hidden" name="user_id" value="{{user.id}}">
    <div id="costList">
        <h2>费用明细</h2>
        <textarea id="costListText"  name="costList" id="" cols="30" rows="10"></textarea>
    </div>
    <div id="button_bundle_outside">
        <div id="button_bundle">
            <input type="submit" value='确认完修'>
            <input type="button" value="取消" >
        </div>
    </div>
</form>
<style type="text/css">
    #costListText{
        width: 800px;
        height: 300px;
    }
    #button_bundle_outside{
        position: absolute;
        width: 100%
    }
    #button_bundle{
        position: relative;
        right: -45%;
    }
</style>
{% endblock %}