{% extends "admin/base.html" %}
{% block title %}
{{ 订单下派 }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}
    <div>订单下派</div>
{% block branding %}
{% endblock %}
{% block content %}
<div id="outdoor">
    <form id='sub' action="{% url 'snack:choiceTech' %}" method="POST">
            <h2>请选择技术员</h2>
                {% for tech in techs %}
            <div class="tech_choice">
                <div>
                    <div class='content_item'>
                        <h2 class="item_title">工号</h2>
                        <div class="item_value">{{tech.jobNumber}}</div>
                    </div>
                    <div class='content_item'>
                        <h2 class="item_title">姓名</h2>
                        <div class="item_value">{{tech.name}}</div>
                    </div>
                    <div class='content_item'>
                        <h2 class="item_title">电话</h2>
                        <div class="item_value">{{tech.tel}}</div>
                    </div>
                    <div class='content_item'>
                        <h2 class="item_title">等级</h2>
                        <div class="item_value">{{ tech.level }}</div>
                    </div>
                </div> <input type="radio" name="tech_id" value="{{tech.id}}">
            </div>
            {% endfor %}
            <input type="hidden" name="order_id" value="{{order_id}}">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input id='submit' type="submit" name="通过审核">
    </form>
</div>

<style type="text/css">
    #submit{
        margin-top: 25px;
        left: 4%;
        position: absolute;
    }
    #outdoor{
        position: absolute;
        display: block;
        width: 100%;
    }
    #sub{
        position: relative;
        left: 5%;
        top: 40px;
    }
    .tech_choice{
        padding-top: 25px;
        font-size: 1.5em;
    }
</style>
{% endblock %}
